<div class="container__big-card">
  <div class="big-card__picture">
    <img
      src="https://i.guim.co.uk/img/media/9b7412a06451584d8e594c9d08b3cd0623d23d02/0_32_1800_1081/master/1800.jpg?width=1200&quality=85&auto=format&fit=max&s=c852668beeb82679081ff608bef6734e"
      alt=""
      height="300px"
      width="400px"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu nova versão do Angular</a></h1>
  </div>
  <a href="#">
    <div class="big-card__description">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit,
        repellat deserunt doloremque similique ipsa fugit cumque. Saepe,
        consectetur assumenda sint voluptatem incidunt veritatis quaerat
        perferendis velit excepturi exercitationem inventore fugit.
      </p>
    </div>
  </a>
</div>
