.container__articles {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: row;

  @media  screen and (max-width: 1000px) {
    flex-direction: column;
    align-items: center;
  }
}


